// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.py-4{
    padding-bottom: 0 !important;
    min-height: 520px;
    background-image: url('/images/grass2.png');

}
.headline{
     background-color: brown;
}

.stage-headline{
    background-color: goldenrod;
    border: 2px solid brown;

}

.card {
    border: 2px solid brown;
}

.card-header{
    background-color: goldenrod;
}

.card-body{
    background-color: brown;
}

.card-body h4{
    color: antiquewhite;
}

.card-footer{
    background-color: goldenrod;
}
